.card-columns {
  column-count: 4;
}

.categories {
  padding-top: 100px;
}

@media only screen and (max-width: 768px) {
  .card-columns {
    column-count: 3;
  }
  .categories {
    padding-top: 90px;
  }
}

@media only screen and (max-width: 479px) {
  .card-columns {
    column-count: 2;
  }
}
