<!-- <div class="card animated fadeIn fast">
    <a [routerLink]="['/product', product.id]" class="d-block mb-4 h-100">
        <img class="img-fluid img-product" [src]="product.p_image" [alt]="product.p_name">
        <h6 class="my-2">{{product.p_name}}</h6>
    </a>
</div> -->

<div class="row animated fadeIn fast mb-4">
    <div class="col-md-12 col-sm-12">
        <div class="product-grid">
            <div class="product-image">
                <a [routerLink]="['/product', product.id]">
                    <img class="pic-1" [src]="product.p_image" [alt]="product.p_name">
                </a>
            </div>

            <div class="product-content">
                <h3 class="title"><a href="#">{{product.p_name | uppercase}}</a></h3>
                <div class="price">{{product.p_priceN | currency:'CRC '}}
                    <span>{{product.p_priceN + 2958 | currency:'CRC '}}</span>
                </div>
            </div>
            <ul class="social">
                <li><a [routerLink]="['/product', product.id]" data-tip="Ver producto"><i class="fa fa-eye"></i></a>
                </li>
                <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
        </div>
    </div>
</div>