.head {
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
}

@media only screen and (max-width: 990px) {
}

@media only screen and (max-width: 768px) {
  .head {
    padding-top: 90px;
  }
}

@media only screen and (max-width: 479px) {
}
