<div class="container">

    <div class="head">
        <i class="fa fa-chevron-left"></i>
        <a [routerLink]="['/']"> Regresar</a>
    </div>

    <hr>

    <div class="text-center" role="alert" *ngIf="products.length == 0">
        <p>
            <i class="fa fa-2x fa-search mr-2 my-4"></i>
            No hay productos en la categoría seleccionada. Pronto añadiremos lo que buscas.
        </p>
    </div>

    <div class="loading">
        <app-loading *ngIf="loading"></app-loading>
    </div>

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let product of products">
            <app-product-card [product]="product"></app-product-card>
        </ng-template>
    </owl-carousel-o>

</div>