.card {
  border: none;
  cursor: pointer;
}

.card img {
  height: 200px;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 479px) {
  h6 {
    font-size: 0.75em;
  }
}
