<div class="loading">
    <app-loading *ngIf="loading"></app-loading>
</div>


<div class="container py-5" *ngIf="!loading">
    <!-- Portfolio Item Row -->


    <div class="row my-4 animated fadeIn fast">

        <div class="col-md-6 imagen">
            <img class="img-fluid" [src]="product.p_image" [alt]="product.p_name">
        </div>

        <div class="col-md-6">
            <h4 class="mt-3"> {{product.p_name | uppercase}} </h4>
            <h5 class="mb-2">
                <small class="text-muted">SKU: {{product.p_cod}}</small>
            </h5>
            <div class="mb-4">

                <h6 class="text-muted">Categoría:

                    <a [routerLink]="['/categorie', categorieId]" style="font-size: 300;" title="Categoría">
                        <span class="badge badge-info">{{categorieName}}</span>
                    </a>

                </h6>
            </div>


            <p>{{product.p_description | uppercase}}</p>
            <div class="product-price"><span>{{product.p_priceN | currency:'CRC '}}</span>
                <span class="line-through ml-2">{{product.p_priceN + 2958 | currency:'CRC '}}</span>
            </div>


            <div class="my-4">
                <h5>Solicitar producto</h5>

                <div class="solicitar">
                    <i class="fab fa-2x fa-whatsapp mr-2" style="color: green;"></i>
                    <a target="_blank"
                        href="https://api.whatsapp.com/send?phone=50671447395&text=Hola%2C%20visité%20tu%20página%20web%20y%20me%20gustaría%20conocer%20del%20producto:%20{{product.p_name}}%20SKU:%20{{product.p_cod}}">
                        7144-7395
                    </a>
                </div>
            </div>
            <!-- <h5 class="my-3">Materiales</h5>
            <ul>
                <li>Lorem Ipsum</li>
                <li>Dolor Sit Amet</li>
                <li>Consectetur</li>
                <li>Adipiscing Elit</li>
            </ul> -->
        </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h5 class="mb-4 font-weight-light similarProducts">Productos similares</h5>

    <owl-carousel-o [options]="customOptions" *ngIf="!loading">
        <ng-template carouselSlide *ngFor="let product of products">
            <app-product-card [product]="product"></app-product-card>
        </ng-template>
    </owl-carousel-o>

    <!-- /.row -->

    <app-disqus></app-disqus>

</div>