.product-price-discount {
  font-size: 22px;
  font-weight: 400;
  padding: 10px 0;
  clear: both;
}
.product-price-discount span.line-through {
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 14px;
  vertical-align: middle;
  color: #a5a5a5;
}

.solicitar {
  align-items: center;
  display: flex;
}

.imagen {
  display: flex;
  justify-content: center;
}

img {
  max-height: 400px;
}

.similarProducts {
  margin-top: 100px;
}
