<div class="container py-5">
    <!-- Portfolio Item Row -->

    <div class="loading">
        <app-loading *ngIf="loading"></app-loading>
    </div>

    <div class="row my-4 animated fadeIn fast" *ngIf="!loading">

        <div class="col-md-8">
            <img class="img-fluid" [src]="product.p_image" [alt]="product.p_name">
        </div>

        <div class="col-md-4">
            <h4 class="mt-3"> {{product.p_name | uppercase}} </h4>
            <h5 class="mb-4">
                <small class="text-muted">SKU: {{product.p_cod}}</small>
            </h5>
            <p>{{product.p_description | uppercase}}</p>
            <div class="product-price-discount"><span>{{product.p_priceN | currency:'CRC '}}</span><span
                    class="line-through">{{product.p_priceN + 2958 | currency:'CRC '}}</span>
            </div>

            <div class="my-4">
                <h5>Solicitar producto</h5>

                <div class="solicitar">
                    <i class="fab fa-2x fa-whatsapp mr-2" style="color: green;"></i>
                    <a target="_blank"
                        href="https://api.whatsapp.com/send?phone=50671447395&text=Hola%2C%20visité%20tu%20página%20web%20y%20me%20gustaría%20conocer%20del%20producto:%20{{product.p_name}}%20SKU:%20{{product.p_cod}}">
                        7144-7395
                    </a>
                </div>
            </div>
            <!-- <h5 class="my-3">Materiales</h5>
            <ul>
                <li>Lorem Ipsum</li>
                <li>Dolor Sit Amet</li>
                <li>Consectetur</li>
                <li>Adipiscing Elit</li>
            </ul> -->
        </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <!-- <h3 class="my-4 font-weight-light">Productos similares</h3>

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
        </ng-template>
    </owl-carousel-o> -->

    <!-- /.row -->
</div>