<div class="container mt-4">
    <div class="row">
        <div class="col text-center">
            <h3 class="font-weight-light text-center mt-4 mb-2">Métodos de entrega</h3>
            <p>Puedes retirar o recibir en tu casa</p>
        </div>

    </div>
    <div class="row text-center">
        <div class="col">
            <div class="counter">
                <p class="count-text">₡2500 en el GAM, ₡3800 fuera del GAM</p>
                <img class="img-circle" src=" ../../../assets/correos.png" alt="Correos de Costa Rica">
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <p class="count-text ">₡3000 express únicamente en el GAM</p>
                <img class="img-circle" src="../../../assets/moto.jpg" alt="Express">
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <p class="count-text ">2do piso del OUTLET Mall, San Pedro.</p>
                <img class="img-circle" src="../../../assets/tienda.png" alt="Retirar">
            </div>
        </div>
    </div>
</div>