<div class="item-purchase-banner">

    <p class="banner-text">Visítanos en el 2do piso del OUTLET Mall, San Pedro. </p>
    <span class="toggler-close"><i class="fa fa-close"></i></span>
    <a target="_blank"
        href="https://api.whatsapp.com/send?phone=50671447395&text=Hola%2C%20visité%20tu%20página%20web%20y%20me%20gustaría%20conocer%20de%20tus%20productos.">
        <p class="banner-text"> <i class="fab fa-whatsapp"></i> 7144-7395 </p>
    </a>
    <a href="https://www.facebook.com/totemdecristal" target="_blank" title="Facebook"> <i
            class="fab fa-facebook-f text-white"></i>
    </a>
    <a href="https://www.instagram.com/totemdecristal/" target="_blank" title="Instagram"> <i
            class="fab fa-instagram text-white"></i>
    </a>
</div>