/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  height: 100vh;
}

.ng-sidebar {
  background-color: #fff;
  position: absolute;
  width: 415px;
  z-index: 9;
}

img {
  object-fit: scale-down !important;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  scroll-behavior: smooth;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.loading {
  display: flex;
  justify-content: center;
}

a,
a:hover,
a:visited,
a:active,
a:link {
  font-weight: 400;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

p {
  font-weight: 300;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.owl-carousel {
  z-index: 0;
}

.owl-theme .owl-nav .owl-prev {
  background: transparent;
}

.owl-theme .owl-nav .owl-prev:hover {
  cursor: default;
  background: transparent;
}

.owl-theme .owl-nav .owl-next {
  background: transparent;
}

.owl-theme .owl-nav .owl-next:hover {
  cursor: default;
  background: transparent;
}

/*====================
 CATEGORIE NAV BUTTON
======================*/

.categorie-nav {
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 5%;
  color: #1c1c1c;
  padding: 10px;
}
.categorie-left {
  left: -10px;
  position: absolute;
  top: 30%;
}

.categorie-right {
  right: -10px;
  position: absolute;
  top: 30%;
}

@media only screen and (max-width: 479px) {
  html,
  body {
    padding-top: 0px;
  }

  .owl-theme .owl-nav .owl-prev {
    display: none;
  }
  .owl-theme .owl-nav .owl-next {
    display: none;
  }

  h3 {
    font-size: 15px;
  }

  h5 {
    font-size: 13px;
  }

  .ng-sidebar {
    width: 100%;
  }
}
