<header class="masthead">
    <div class="container h-100 animated fadeIn fast">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light animate__animated animate__fadeIn">Estilos que combinan contigo
                </h1>
                <p class="lead animate__animated animate__fadeInUp">Más de 60 estilos para todos los gustos</p>
                <a [routerLink]="['/products']">
                    <p class="mb-0 text-uppercase text-center animate__animated animate__fadeInUp">
                        Ver productos
                    </p>
                    <i class="fa fa-chevron-circle-down mt-0 animate__animated animate__fadeInUp"></i>
                </a>
            </div>
        </div>
    </div>
</header>