<header class="masthead">
    <div class="container h-100 animated fadeIn fast">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light animated fadeIn">Estilos que combinan contigo</h1>
                <p class="lead animated fadeIn fast">Vuela tan alto como te lleven tus sueños</p>
                <a [routerLink]="['/products']">
                    <p class="mb-0 text-uppercase text-center animated fadeIn fast">
                        Ver productos
                    </p>
                    <i class="fa fa-chevron-circle-down mt-0 animated fadeIn fast"></i>
                </a>
            </div>
        </div>
    </div>
</header>